.profile-form-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-form label {
    width: 80%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.profile-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.profile-form button:hover {
    background-color: #0056b3;
}

.select-container {
    margin-bottom: 10px;
}

.select-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.select-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.timeline-individual-comment-card,
.friends-container,
.bio-container {
    /* margin-left: 5px; */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.timeline-post {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.profile-pic-post,
.friends-box-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.friends {
    list-style-type: none;
}

.friend-list-friend-container {
    border-radius: 12px;
    text-align: center;
}


.main-profile-pic {
    width: 100%;
    /* Resize images to 100% of their container's width */
    height: auto;
    /* Maintain aspect ratio */
}

.timeline-post p {
    margin: 0;
}

sub {
    font-size: 14px;
    color: #777;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#comment {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

/* 
.bio-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
} */

.bio-container h4 {
    font-size: 1.2em;
    color: #333;
    margin-top: 0;
}

.bio-container p {
    margin: 0;
    line-height: 1.4;
    color: #666;
}

.bio-container p:first-child {
    font-weight: bold;
}


.profile-left-col {
    float: left;
    width: 10%;
    height: 200px;
}

.profile-timeline-col {
    float: left;
    width: 60%;
}