/* Default styling for mobile */
.profile-container {
    width: 100%;
    margin: 0 auto;
    /* Horizontally center the div */
    padding: 10px;
    /* Add padding as needed */
    box-sizing: border-box;
    /* Include padding in width calculation */
}

/* Media query for desktop screens with a minimum width of 768px */
@media screen and (min-width: 768px) {
    .profile-container {
        width: 66%;
        /* Set the width to 66% for desktop */
    }
}